@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated == true) {
    <ul class="dropdown-menu">
        <li>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "", @style = "margin-left:7px;" })) {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out fa-fw"></i> Cerrar sesión</a>
            }
        </li>
    </ul>
} else {
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
